.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navBar{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: black;
  width: 100%;
  height: 80px; 
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.navBar div{
  
  padding: 10px;
  color: red;
  cursor: pointer;
  
}
.footer{
  width: 100%;
  background-color: black;
  height: 100px;
  margin-top: -20px;
  
}
.footer h1{
  color: #ffffff;
  text-align: center;
  padding: 30px;
}
/* App.css */

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 10px auto 0;
  gap: 45px;
  margin-top: 50px;
  
}

.product-item {
  margin: 10px;
  text-align: center;
  background-color: #ffffff;
  padding: 10px 10px;
  border-radius: 20px;
  margin-top: 50px;
}

.product-item img {
  width: 200px; 
  height: 160px; 
  border-radius: 8px;
}

.product-item p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}
.product-item button{
  padding: 10px 55px;
  border: none;
  border-radius: 10px;
  background-color: #80808096;
}
.product-item button:hover{
  transform: 0.5s;
  background-color: #87777796;
  cursor: pointer;

}
.sms{
  text-align: center;
  font-size: 35px;
  margin-top: 100px;
}
.searchBar {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  margin-top: 70px;
}

.searchBar input[type='text'],
.searchBar button {
  font-size: 18px;
  padding: 15px;
  margin-top: 40px;
}

.searchBar input[type='text'] {
  width: 500px;
  border: none;
  outline: none;
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px;
}

.btn {
  width: 100px;
  background-color: black;
  color: #ffffff;
  border: none;
  border: none;
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.main{
  background: url(../home.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}